# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
# .terraform.lock.hcl

# Environment/secrets
.env
.env.*
*.pem
*.key
